{% extends "faculty/base.html" %}
{% block title %}{{ program.name }}{% endblock %}
{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'program_list' %}">Спеціальності</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ program.code }}</li>
    </ol>
  </nav>
  <div class="card shadow-sm mb-4">
    <div class="card-header bg-primary text-white">
      <h3 class="mb-0">{{ program.code }} - {{ program.name }}</h3>
    </div>
    <div class="card-body">
      <h4>Освітня програма: {{ program.educ_program }}</h4>
      <h4>Опис спеціальності</h4>
      <p>{{ program.description|linebreaksbr }}</p>
      <h4 class="mt-4">Список дисциплін</h4>
      <p class="bg-light p-3 border rounded">{{ program.disciplines|linebreaksbr }}</p>
      <hr>
      <p><strong>Випускова кафедра:</strong> <a href="{% url 'department_detail' program.department.id %}">{{ program.department.name }}</a></p>
      <p><strong>Координатор:</strong> {{ program.coordinator_name }} ({{ program.coordinator_contact }})</p>
    </div>
  </div>
{% endblock %}
